Nav {
    position: absolute;
    top:50px;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
  float: left;
  padding: 30px 1px;
  cursor: pointer;
}	

li a {

  display: inline-block:
  text-align: center;
  color: white;
  font-size: 40px;
  text-decoration: none; 
  hight: 50px;
  width: 200px;
  background-color:orange;
  padding: 30px;
  border-radius: 12%;

}
li span {

  display: inline-block:
  text-align: center;
  color: white;
  font-size: 40px;
  text-decoration: none; 
  hight: 50px;
  width: 200px;
  background-color:orange;
  padding: 30px;
  border-radius: 12%;

}
