input[type=text],select {
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: yellow;
  color: red;
  font-size: 120%;
}

input[type=text]:focus,select:focus {
  border: 3px solid #555;
}
input::placeholder{
  color: #f00;
}

input[type=file] {
 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: yellow;
  color: red;
}
input[value] {
  background-color: yelow;
  color: black;

}


input[type=submit] {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/*
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}*/