#vyberId{
  font-size: 2em;
  background-color: lightblue;
}
#vlozId{
  font-size: 2em;
  background-color: lightblue;
}
.urediCls{
  font-size: 2em;
  background-color: gold;
}
.urediCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.odstraniCls{
  font-size: 2em;
  background-color: pink;
}
.odstraniCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.submit{
  font-size: 2em;
  background-color: lightGreen;
}
input {
   /*background-color: yellow; 
     width: auto;
	   text-overflow: ellipsis;*/
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: yellow;
}

#sklep {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  max_width:500px;		
}
	
 tr:hover {
  background-color: yellow;
}